.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.modal-header, h4, .close {
	background-color: #5cb85c;
	color:white !important;
	text-align: center;
	font-size: 30px;
}
.modal-footer {
	background-color: #f9f9f9;
}

table {
	width: 100%;
	border: 4px double black;
	border-collapse: collapse;
}
th {
	text-align: left;
	background: #ccc;
	padding: 5px;
	border: 1px solid black;
}
td {
	padding: 5px;
	border: 1px solid black;
}

.mbox {
	margin: 10px;
	border: 1px solid black;
}

.shadow {
	background: transparent;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 10px;
}
