<div>
    <button type="button" class="btn btn-primary btn-md active" ng-click="createCurrency()">Добавить</button>
    <br>

    <span>Валюты</span>
	<div class="mbox shadow" id="сurrencies-box">   
		<table>
			<thead>
				<tr>
					<th>Имя</th>
                    <th>Название</th>
                    <th>Кол-во</th>             
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="сurrency in сurrencies track by $index">
					<td>
						{{сurrency.name}}
					</td>
					<td>
						{{сurrency.volume}}
                    </td>
                    <td>
						{{сurrency.amount}}
					</td>
					<td>
						<button ng-click="editCurrency(сurrency.id)">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</button>
					</td>
					<td>
						<button ng-click="deleteCurrency(сurrency.id)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button>
					</td>
				</tr>
			</tbody>        
		</table>
	</div>
</div>

<div class="container">			
    <div class="modal fade" id="loginDialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Авторизация</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" ng-submit="login()">
                        <div class="form-group">
                            <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
                            <input type="text" class="form-control" id="email" placeholder="" ng-model="user.email">
                        </div>
                        <div class="form-group">
                            <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Пароль</label>
                            <input type="password" class="form-control" id="password" placeholder="" ng-model="user.password">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" checked>Запомнить меня</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Вход</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Отмена</button>
                    <p>Нет аккаунта? <a href="#/register">Регистрация</a></p>
                    <p>Забыли <a href="#">пароль?</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="сurrencyEditor" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-edit"></span> Редактирование</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form" ng-submit="saveCurrency()">
                        <input type="hidden" class="form-control" id="id" placeholder="">
                        <div class="form-group">
                            <label for="сurrency-name"><span class="glyphicon glyphicon-user"></span> Имя</label>
                            <input type="text" class="form-control" id="сurrency-name" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="сurrency-volume"><span class="glyphicon glyphicon-user"></span> Цена</label>
                            <input type="text" class="form-control" id="сurrency-volume" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="сurrency-amount"><span class="glyphicon glyphicon-user"></span> Кол-во</label>
                            <input type="text" class="form-control" id="сurrency-amount" placeholder="">
                        </div>                                     				
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Сохранить</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Отмена</button>							
                </div>
            </div>
        </div>
    </div>		
</div>
